[Desktop Entry]
Type=Application
Name=Camera
Name[aa]=Kaameera
Name[am]=ካሜራ
Name[ar]=الكاميرا
Name[ast]=Cámara
Name[az]=Kamera
Name[be]=Камера
Name[bg]=Камера
Name[br]=Kamera
Name[bs]=Kamera
Name[ca]=Càmera
Name[ca@valencia]=Càmera
Name[cs]=Fotoaparát
Name[cy]=Camera
Name[da]=Kamera
Name[de]=Kamera
Name[el]=Κάμερα
Name[en_AU]=Camera
Name[en_GB]=Camera
Name[eo]=Fotilo
Name[es]=Cámara
Name[eu]=Kamera
Name[fa]=دوربین
Name[fi]=Kamera
Name[fr]=Appareil photo
Name[fr_CA]=Caméra
Name[gd]=Camara
Name[gl]=Cámara
Name[he]=מצלמה
Name[hi]=कैमरा
Name[hr]=Fotoaparat
Name[hu]=Kamera
Name[hy]=Կամերա
Name[is]=Myndavél
Name[it]=Fotocamera
Name[ja]=カメラ
Name[km]=ម៉ាស៊ីន​ថ​ត
Name[ko]=카메라
Name[lo]=ກ້ອງ
Name[lv]=Fotokamera
Name[ml]=ക്യാമറ
Name[ms]=Kamera
Name[my]=ကင်မရာ
Name[nb]=Kamera
Name[nl]=Camera
Name[pa]=ਕੈਮਰਾ
Name[pl]=Aparat
Name[pt]=Câmara
Name[pt_BR]=Câmera
Name[ro]=Aparat foto
Name[ru]=Камера
Name[sk]=Fotoaparát
Name[sl]=Fotoaparat
Name[sr]=Камера
Name[sv]=Kamera
Name[ta]=புகைப்பட கருவி
Name[te]=కెమేరా
Name[tr]=Fotoğraf Makinesi
Name[ug]=كامېرا
Name[uk]=Камера
Name[zh_CN]=相机
Name[zh_HK]=相機
Name[zh_TW]=相機
Comment=Camera application
Comment[aa]=Kaameerah abnisso
Comment[am]=የ ካሜራ መተግበሪያ
Comment[ar]=تطبيق الكاميرا
Comment[ast]=Aplicación Cámara
Comment[az]=Kamera tәtbiqetmәsi
Comment[be]=Фотакамера
Comment[bg]=Приложение за камерата
Comment[br]=Arload kamera
Comment[bs]=Aplikacija za kameru
Comment[ca]=Aplicació de càmera
Comment[ca@valencia]=Aplicació de càmera
Comment[cs]=Aplikace kamera
Comment[cy]=Ap Camera
Comment[da]=Kameraprogram
Comment[de]=Kameraanwendung
Comment[el]=Εφαρμογή κάμερας
Comment[en_AU]=Camera application
Comment[en_GB]=Camera application
Comment[es]=Aplicación Cámara
Comment[eu]=Kamera-aplikazioa
Comment[fa]=برنامه‌ی دوربین
Comment[fi]=Kamerasovellus
Comment[fr]=Application photo
Comment[fr_CA]=Application de caméra
Comment[gd]=Aplacaid a' chamara
Comment[gl]=Aplicativo para cámaras
Comment[he]=יישום מצלמה
Comment[hi]=कैमरा एप्लिकेशन
Comment[hr]=Aplikacija fotoaparat
Comment[hu]=Kamera alkalmazás
Comment[hy]=Կամերա ծրագիր
Comment[is]=Myndavélarforrit
Comment[it]=Applicazione per foto e video
Comment[ja]=カメラアプリ
Comment[km]=កម្មវិធី​ម៉ាស៊ីន​ថត
Comment[ko]=카메라 애플리케이션
Comment[lo]=ໂປຣເເກຣມກ້ອງ
Comment[lv]=Fotokameras lietotne
Comment[ml]=ക്യാമറ പ്രയോഗം
Comment[ms]=Aplikasi kamera
Comment[my]=ကင်မရာ application
Comment[nb]=Kameraprogram
Comment[nl]=Camera-app
Comment[pa]=ਕੈਮਰਾ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Aplikacja aparatu
Comment[pt]=Câmara
Comment[pt_BR]=Aplicativo da câmera
Comment[ro]=Aplicație aparat foto
Comment[ru]=Фотокамера
Comment[sk]=Fotoaparát
Comment[sl]=Program za fotoaparat
Comment[sr]=Програм за камеру
Comment[sv]=Kameraprogram
Comment[ta]=புகைப்பட கருவி பயன்பாடு
Comment[te]=కెమేరా అనువర్తనం
Comment[tr]=Kamera uygulaması
Comment[ug]=كامېرا پروگراممىسى
Comment[uk]=Програма для роботи з камерою
Comment[zh_CN]=相机应用程序
Comment[zh_HK]=相機程式
Comment[zh_TW]=相機應用程式
GenericName=Camera
GenericName[aa]=Kaameera
GenericName[am]=ካሜራ
GenericName[ar]=الكاميرا
GenericName[ast]=Cámara
GenericName[az]=Kamera
GenericName[be]=Камера
GenericName[bg]=Камера
GenericName[br]=Kamera
GenericName[bs]=Kamera
GenericName[ca]=Càmera
GenericName[ca@valencia]=Càmera
GenericName[cs]=Fotoaparát
GenericName[cy]=Camera
GenericName[da]=Kamera
GenericName[de]=Kamera
GenericName[el]=Κάμερα
GenericName[en_AU]=Camera
GenericName[en_GB]=Camera
GenericName[eo]=Fotilo
GenericName[es]=Cámara
GenericName[eu]=Kamera
GenericName[fa]=دوربین
GenericName[fi]=Kamera
GenericName[fr]=Appareil photo
GenericName[fr_CA]=Caméra
GenericName[gd]=Camara
GenericName[gl]=Cámara
GenericName[he]=מצלמה
GenericName[hi]=कैमरा
GenericName[hr]=Fotoaparat
GenericName[hu]=Kamera
GenericName[hy]=Կամերա
GenericName[is]=Myndavél
GenericName[it]=Fotocamera
GenericName[ja]=カメラ
GenericName[km]=ម៉ាស៊ីន​ថ​ត
GenericName[ko]=카메라
GenericName[lo]=ກ້ອງ
GenericName[lv]=Fotokamera
GenericName[ml]=ക്യാമറ
GenericName[ms]=Kamera
GenericName[my]=ကင်မရာ
GenericName[nb]=Kamera
GenericName[nl]=Camera
GenericName[pa]=ਕੈਮਰਾ
GenericName[pl]=Aparat
GenericName[pt]=Câmara
GenericName[pt_BR]=Câmera
GenericName[ro]=Aparat foto
GenericName[ru]=Камера
GenericName[sk]=Fotoaparát
GenericName[sl]=Fotoaparat
GenericName[sr]=Камера
GenericName[sv]=Kamera
GenericName[ta]=புகைப்பட கருவி
GenericName[te]=కెమేరా
GenericName[tr]=Fotoğraf Makinesi
GenericName[ug]=كامېرا
GenericName[uk]=Камера
GenericName[zh_CN]=相机
GenericName[zh_HK]=相機
GenericName[zh_TW]=相機
Keywords=Photos;Videos;Capture;Shoot;Snapshot;Record
Keywords[aa]=Tasaawiri; Viidiyooya;Xebra; Malaysa;Xaab-xebra; Tasgiili
Keywords[am]=ፎቶዎች: ቪዲዮዎች: መያዣ: ማንሻ: ፎቶ ማንሻ: መቅረጫ:
Keywords[ar]=صور;فيديو;إلتقاط;التقاط;لقطة;تسجيل
Keywords[ast]=Semeyes;Vídeos;Captura;Toma;Instantánea;Rexistru
Keywords[be]=Фота;Відэа;Захоп;Здымка;Здымак;Запіс
Keywords[br]=Luc'hskeudennoù;Videoioù;Skeudenn tapet;Kliched;Luc'hskeudenn brim;Enrollañ
Keywords[ca]=Fotos; fotografies; vídeos; vídeo; captura; fés foto; enregistra
Keywords[ca@valencia]=Fotos; fotografies; vídeos; vídeo; captura; fés foto; enregistra
Keywords[cs]=Fotky;Videa;Zachyceno;Vyfoceno;Snapshot;Record
Keywords[cy]=Lluniau;Fideos;Cipio;Saethu;Ciplun;Recordio
Keywords[de]=Fotos;Videos;Aufzeichnen;Digitalisieren;Schießen;
Keywords[el]=Φωτογραφίες;Βίντεο;Σύλληψη;Τράβηγμα;Βιντεοσκόπηση;Στιγμιότυπο
Keywords[en_AU]=Photos;Videos;Capture;Shoot;Snapshot;Record
Keywords[en_GB]=Photos;Videos;Capture;Shoot;Snapshot;Record
Keywords[es]=Fotos;Vídeos;Captura;Toma;Instantánea;Registro
Keywords[eu]=Argazkiak;Bideoak;Kaptura;Atera;Grabatu
Keywords[fa]=عکس‌ها;ویدیوها;ضبط;ثبت;عکّاسی;فیلم‌برداری
Keywords[fi]=Photos;Videos;Capture;Shoot;Snapshot;Record;kuvat;videot;nauhoita;tallenna;valokuvat;kamera
Keywords[fr]=Photos;Vidéos;Capture;Prise de vue;Instantané;Enregistrement
Keywords[fr_CA]=Photos;Vidéos;Capture;Prise de vue;Instantané;Enregistrement
Keywords[gd]=Photos;Videos;Capture;Shoot;Snapshot;Record;Dealbhan;Dealbhan-camara;Deilbh;Videothan;Glacadh;Togail;Clàradh
Keywords[gl]=Fotos;Vídeos;Captura;Fotografía;Pantalla;Gravar
Keywords[hu]=Fótok;Videók;Fotózás,Fényképezés;Felvétel
Keywords[is]=Myndir;Vídeó;Myndskeið;Myndavél;Taka;Smella;Upptaka
Keywords[it]=Foto;Video;Cattura;Schermata;Registra;Immagine
Keywords[ja]=Photos;Videos;Capture;Shoot;Snapshot;Record;写真;ビデオ;キャプチャ;撮影;スナップショット;録画
Keywords[lv]=Fotogrāfijas;Video;Uzņemt;Ierakstīt;Filmēt;Knipsēt;
Keywords[nb]=Bilder;Videoer;Opptak;Fotografi;Øyeblikksbilde;Opptak
Keywords[nl]=Photos;Videos;Capture;Shoot;Snapshot;Record;Foto's;Video´s;Opname;Gedraaid;Kiekje;Opnemen
Keywords[pa]=ਫ਼ੋਟੋਆਂ;ਵੀਡੀਓ;ਕੈਪਚਰ;ਸ਼ੂਟ;ਸਨੈਪਸ਼ਾਟ;ਰਿਕਾਰਡ
Keywords[pl]=Zdjęcia;Fotografie;Nagrywanie;Filmy;Nagrania;Zrzuty
Keywords[pt]=Fotos;Vídeos;Captura;Disparo;Snapshot;Gravar
Keywords[pt_BR]=Fotos;Vídeos;Captura;Fotografar;Instantâneo;Gravar
Keywords[ro]=Fotografii;Video;Captură;Poză;Film;Înregistrare
Keywords[ru]=Фото;Видео;Захват;Съёмка;Снимок;Запись
Keywords[sk]=Fotografie;Videá;Zachytiť;Odfotiť;Momentka;Nahrať
Keywords[sl]=Fotografije;Videi;Zajemi;Posnami;Posnetek;
Keywords[sr]=Фотографије;Слике;Видео;Видеи;Сними;Усликај;Снимак;
Keywords[sv]=Foton;Videor;Spela in;Ögonblicksbild
Keywords[ug]=Photos;Videos;Capture;Shoot;Snapshot;Record;سۈرەتلەر;سىنلار;سىن ئېلىش
Keywords[uk]=Photos;Videos;Capture;Shoot;Snapshot;Record;фото;фотографії;відео;запис;знімок;знімання
Keywords[zh_CN]=照片；视频；拍照；连拍；快拍；录像
Keywords[zh_TW]=Photos;Videos;Capture;Shoot;Snapshot;Record
Exec=camera-app %u
Terminal=false
Icon=${SNAP}/meta/gui/camera-app.png
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Rotates-Window-Contents=true
