Source: camera-app
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Ugo Riboni <ugo.riboni@canonical.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libgl-dev,
               libgles2-mesa-dev,
               pkg-config,
               python2.7,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
               qtmultimedia5-dev,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/camera-app
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/camera-app/trunk

Package: camera-app
Architecture: any
Depends: cameraplugin-aal [armel armhf],
         cameraplugin-fake [!armel !armhf],
         libhud-qt-qml,
         libqt5multimedia5,
         qtdeclarative5-qtmultimedia-plugin | libqt5declarative5-qtmultimedia-plugin,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         qtdeclarative5-window-plugin,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Camera application
 An application to take pictures and videos with the device camera(s)

Package: camera-app-autopilot
Architecture: all
Depends: camera-app (= ${source:Version}),
         libautopilot-qt,
         libqt5test5,
         libqt5widgets5,
         python-support (>= 0.90),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Test package for the camera app
 Autopilot tests for the camera-app package
